<html>
    <head>
        <title></title>
    </head>
    <body>
      <% Pratice.forEach(data=>{ %>
            <p> <%= data.Name%></p>
            <p> <%= data.age%></p>

            <p> <%= data.gender%></p>

      <%})%>
    </body>
</html>